<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Gerenciamento de Vendas</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body class="bg-image" style="background-image: url('./fundo.jpg')">
  <div id="app" class="container text-center bg-light">
    <h1 class="my-4">Sistema de Gerenciamento de Vendas</h1>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="" class="nav-link bg-info bg-opacity-25 text-dark" :class="{active: view === 'inicio'}"
          @click.prevent="view = 'inicio'">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link bg-info bg-opacity-25 text-dark" :class="{active: view === 'clientes'}"
          @click.prevent="view = 'clientes'">Clientes</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link bg-info bg-opacity-25 text-dark" :class="{active: view === 'produtos'}"
          @click.prevent="view = 'produtos'">Produtos</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link bg-info bg-opacity-25 text-dark" :class="{active: view === 'vendas'}"
          @click.prevent="view = 'vendas'">Vendas</a>
      </li>
    </ul>

    <div v-if="view === 'inicio'" class="my-4">
      <img src="./inicio.png" alt="Imagem de Início" class="img-fluid" style="max-width: 400px; margin: 0 auto;">
    </div>

    <div v-if="view === 'clientes'" class="my-4">
      <h2 v-if="!estadoCliente">Cadastrar Clientes</h2>
      <h2 v-else>Editar Cliente</h2>
      <div class="row">
        <div class="col-md-12">
          <form @submit.prevent="estadoCliente ? atualizarCliente() : adicionarCliente()">
            <div class="form-group row">
              <div class="col-md-6">
                <label for="nomeCliente">Nome do Cliente: <b class="text-danger">*</b></label>
                <input type="text" id="nomeCliente" v-model="novoCliente.nome" class="form-control" required />
              </div>
              <div class="col-md-2">
                <label for="telefoneCliente">Telefone: <b class="text-danger">*</b></label>
                <input type="text" id="telefoneCliente" v-model="novoCliente.telefone" class="form-control" required />
              </div>
              <div class="col-md-4">
                <label for="emailCliente">Email: <b class="text-danger">*</b></label>
                <input type="email" id="emailCliente" v-model="novoCliente.email" class="form-control" required />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label for="ruaCliente">Rua: <b class="text-danger">*</b></label>
                <input type="text" id="ruaCliente" v-model="novoCliente.rua" class="form-control" required />
              </div>
              <div class="col-md-2">
                <label for="numeroCliente">Número: <b class="text-danger">*</b></label>
                <input type="number" id="numeroCliente" v-model="novoCliente.numero" class="form-control" required />
              </div>
              <div class="col-md-2">
                <label for="bairroCliente">Bairro: <b class="text-danger">*</b></label>
                <input type="text" id="bairroCliente" v-model="novoCliente.bairro" class="form-control" required />
              </div>
              <div class="col-md-2">
                <label for="cidadeCliente">Cidade: <b class="text-danger">*</b></label>
                <input type="text" id="cidadeCliente" v-model="novoCliente.cidade" class="form-control" required />
              </div>
              <div class="col-md-2">
                <label for="estadoCliente">Estado: <b class="text-danger">*</b></label>
                <select id="estadoCliente" v-model="novoCliente.estado" class="form-control" required>
                  <option value="" disabled selected>UF</option>
                  <option value="AC">AC</option>
                  <option value="AL">AL</option>
                  <option value="AP">AP</option>
                  <option value="AM">AM</option>
                  <option value="BA">BA</option>
                  <option value="CE">CE</option>
                  <option value="DF">DF</option>
                  <option value="ES">ES</option>
                  <option value="GO">GO</option>
                  <option value="MA">MA</option>
                  <option value="MT">MT</option>
                  <option value="MS">MS</option>
                  <option value="MG">MG</option>
                  <option value="PA">PA</option>
                  <option value="PB">PB</option>
                  <option value="PR">PR</option>
                  <option value="PE">PE</option>
                  <option value="PI">PI</option>
                  <option value="RJ">RJ</option>
                  <option value="RN">RN</option>
                  <option value="RS">RS</option>
                  <option value="RO">RO</option>
                  <option value="RR">RR</option>
                  <option value="SC">SC</option>
                  <option value="SP">SP</option>
                  <option value="SE">SE</option>
                  <option value="TO">TO</option>
                </select>
              </div>
              <small class="form-text text-muted mt-4">Por favor, preencha todos os campos marcados com
                <b class="text-danger">*</b>.</small>
            </div>
            <button type="submit" class="btn btn-primary mt-4">
              {{ estadoCliente ? 'Atualizar Cliente' : 'Adicionar Cliente' }}
            </button>
            <button type="button" v-if="estadoCliente" @click="cancelarEdicaoCliente" class="btn btn-secondary mt-4">
              Cancelar
            </button>
          </form>
        </div>
      </div>
      <h3 class="mt-4">Lista de Clientes</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="cliente in clientes" :key="cliente.nome">
          <div class="row align-items-center">
            <div class="col">
              <p class="mb-1"><strong>Nome do Cliente:</strong> {{ cliente.nome }}</p>
              <p class="mb-1"><strong>Contatos:</strong> {{ cliente.telefone }} <b> Telefone: </b> {{ cliente.email }}</p>
              <p class="mb-1"><strong>Endereço:</strong> {{ cliente.rua }}, {{ cliente.numero }}, {{ cliente.bairro }} -
                {{ cliente.cidade }} <b> Estado: </b> {{ cliente.estado }}</p>
            </div>
            <div class="col-auto">
              <button @click="editarCliente(cliente)" class="btn btn-warning btn-sm mr-2">Editar</button>
              <button @click="excluirCliente(cliente)" class="btn btn-danger btn-sm">Excluir</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div v-if="view === 'produtos'" class="my-4">
      <h2 v-if="estadoProduto === null">Cadastro de Produtos</h2>
      <h2 v-else>Editar Produto</h2>
      <form @submit.prevent="estadoProduto === null ? adicionarProduto() : atualizarProduto()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="nomeProduto">Nome do Produto: <b class="text-danger">*</b></label>
              <input type="text" id="nomeProduto" v-model="novoProduto.nome" class="form-control" required>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="codigoProduto">Código: <b class="text-danger">*</b></label>
              <input type="number" id="codigoProduto" v-model="novoProduto.codigo" class="form-control" required>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="setorProduto">Setor: <b class="text-danger">*</b></label>
              <select id="setorProduto" v-model="novoProduto.setor" class="form-control" required>
                <option value="" disabled selected>Selecione um Setor</option>
                <option value="Alimentos">Alimentos</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Eletrônicos">Eletrônicos</option>
                <option value="Vestuário">Vestuário</option>
                <option value="Higiene">Higiene</option>
                <option value="Outros">Outros</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label for="descricaoProduto">Descrição: <b class="text-danger">*</b></label>
                <input type="text" id="descricaoProduto" v-model="novoProduto.descricao" class="form-control" required>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="precoProduto">Preço: <b class="text-danger">*</b></label>
                <input type="number" id="precoProduto" v-model.number="novoProduto.preco" class="form-control" required>
              </div>
            </div>
          </div>
          <small class="form-text text-muted mt-4">Por favor, preencha todos os campos marcados com
            <b class="text-danger">*</b>.</small>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">{{ estadoProduto === null ? 'Adicionar Produto' : 'Atualizar Produto' }}</button>
            <button type="button" v-if="estadoProduto !== null" @click="cancelarEdicaoProduto" class="btn btn-secondary ml-2">Cancelar</button>
          </div>
        </div>
      </form>

      <h3 class="mt-4">Lista de Produtos</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="produto in produtos" :key="produto.nome">
          <div class="row align-items-center">
            <div class="col">
              <p class="mb-1"><strong>Nome do Produto:</strong> {{ produto.nome }}</p>
              <p class="mb-1"><strong>Codigo:</strong> {{ produto.codigo }} | <strong> Setor:</strong> {{ produto.setor }}</p>
              <p class="mb-1"><strong>Descrição:</strong> {{ produto.descricao}}</p>
              <p class="mb-1"><strong>Preço:</strong> {{ produto.preco}}</p>
            </div>
            <div class="col-auto">
              <button @click="editarProduto(produto)" class="btn btn-warning mr-2">Editar</button>
              <button @click="excluirProduto(produto)" class="btn btn-danger">Excluir</button>
            </div>
        </li>
      </ul>
    </div>

    <div v-if="view === 'vendas'" class="my-4">
      <h2>Registro de Vendas</h2>
      <div class="row">
        <div class="col-md-6">
          <form @submit.prevent="adicionarVenda">
            <div class="form-group">
              <label for="clienteVenda">Selecione o cliente:</label>
              <select id="clienteVenda" v-model="novaVenda.cliente" class="form-control" required>
                <option v-for="cliente in clientes" :value="cliente.nome">{{ cliente.nome }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Registrar Venda</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Produtos:</label>
            <div v-for="produto in produtos" :key="produto.nome" class="form-check">
              <input type="checkbox" :value="produto" v-model="novaVenda.produtosSelecionados" class="form-check-input">
              <label class="form-check-label">
                {{ produto.nome }} - R$ {{ produto.preco.toFixed(2) }}
              </label>
              <input type="number" v-model.number="quantidades[produto.nome]" min="1" class="form-control mt-2"
                placeholder="Quantidade do produto" v-if="novaVenda.produtosSelecionados.includes(produto)">
            </div>
          </div>
        </div>
      </div> 
      <h3 class="mt-4">Lista de Vendas</h3>
      <ul class="list-group">
        <li class="list-group-item" v-for="venda in vendas" :key="venda.id">
          {{ venda.cliente }}
          <br>
          Histórico de compra:
          <ul class="list-unstyled">
            <li v-for="produto in venda.produtos" :key="produto.nome">
              <b>Produto: </b> {{ produto.nome }} <b> Quantidade: </b> {{ produto.quantidade }} | R$ {{ produto.total.toFixed(2) }}
            </li>
          </ul>
          <strong>Total: R$ {{ venda.valorTotal.toFixed(2) }}</strong>
          <div class="col-auto">
            <button @click="removerVenda(venda)" class="btn btn-danger btn-sm float-right">Excluir Venda</button>
          </div>   
        </li>
      </ul>
    </div>

    <footer class="footer mt-auto py-2 bg-info bg-opacity-25 text-white">
      <div class="container text-center">
        <span class="text-muted">Copyright © 2024 | Versão: 2024.06.1606 | Sistema de Gerenciamento
          de Vendas</span>
      </div>
    </footer>
  </div>

  <script>
new Vue({
  el: "#app",
  data: {
    view: "inicio",
    clientes: [],
    produtos: [],
    vendas: [],
    estadoCliente: null,
    estadoProduto: null,
    novoCliente: {
      nome: "",
      telefone: "",
      email: "",
      rua: "",
      numero: "",
      bairro: "",
      cidade: "",
      estado: "",
    },
    novoProduto: {
      nome: "",
      codigo: "",
      setor: "",
      descricao: "",
      preco: 0,
    },
    novaVenda: {
      cliente: "",
      produtosSelecionados: []
    },
    quantidades: {},
  },
  methods: {
    adicionarCliente() {
      this.clientes.push({ ...this.novoCliente });
      this.limparFormularioCliente();
    },
    excluirCliente(cliente) {
      this.clientes = this.clientes.filter(c => c !== cliente);
    },
    editarCliente(cliente) {
      this.estadoCliente = cliente;
      this.novoCliente = { ...cliente };
    },
    atualizarCliente() {
      Object.assign(this.estadoCliente, this.novoCliente);
      this.cancelarEdicaoCliente();
    },
    cancelarEdicaoCliente() {
      this.limparFormularioCliente();
      this.estadoCliente = null;
    },
    limparFormularioCliente() {
      this.novoCliente = this.getNovoClientePadrao();
    },
    getNovoClientePadrao() {
      return {
        nome: "",
        telefone: "",
        email: "",
        rua: "",
        numero: "",
        bairro: "",
        cidade: "",
        estado: "",
      };
    },
    adicionarProduto() {
      this.produtos.push({ ...this.novoProduto });
      this.limparFormularioProduto();
    },
    removerProduto(produto) {
      this.produtos = this.produtos.filter(p => p !== produto);
    },
    editarProduto(produto) {
      this.estadoProduto = produto;
      this.novoProduto = { ...produto };
    },
    atualizarProduto() {
      Object.assign(this.estadoProduto, this.novoProduto);
      this.cancelarEdicaoProduto();
    },
    cancelarEdicaoProduto() {
      this.limparFormularioProduto();
      this.estadoProduto = null;
    },
    limparFormularioProduto() {
      this.novoProduto = this.getNovoProdutoPadrao();
    },
    getNovoProdutoPadrao() {
      return { nome: '', descricao: '', preco: 0 };
    },
    adicionarVenda() {
      const vendaProdutos = this.novaVenda.produtosSelecionados.map(produto => {
        const quantidade = this.quantidades[produto.nome] || 1;
        return {
          ...produto,
          quantidade: quantidade,
          total: produto.preco * quantidade
        };
      });

      const valorTotal = vendaProdutos.reduce((total, produto) => total + produto.total, 0);

      this.vendas.push({
        id: Date.now(),
        cliente: this.novaVenda.cliente,
        produtos: vendaProdutos,
        valorTotal: valorTotal
      });

      this.resetarNovaVenda();
    },
    resetarNovaVenda() {
      this.novaVenda.cliente = '';
      this.novaVenda.produtosSelecionados = [];
      this.quantidades = {};
    },
    removerVenda(venda) {
      this.vendas = this.vendas.filter(v => v !== venda);
    }
  }
});
</script>

</body>

</html>
